body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom #0a0a0f, #1a1a25);
    color:#ccc;
    background-color: #1a1a25;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-height: 100vh;
}
header h1 {
    font-size: 2rem;
    margin: 20px 0 10px;
    text-shadow: 1px 1px 5px #000;
    font-size: 60px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 800px;
    margin-top: 50px;
    font-size: 1rem;
}
#character-list-name{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    font-size: 25px;
    
}
#viewer{
    position: relative;
    width:80%;
    max-width: 600px;
    height:auto;
    display: block;
    align-content: center;
    margin: 0 auto;
    font-size: 1rem;
}
button{
    background: rgba(100, 100, 120, 0.5);
    color: #f0f0f0;
    border: 1px solid #555;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}
button:hover{
    background-color: rgba(120,120,150,0.7);
    box-shadow: 0 4px 12px rgba(0,0,0,0.6);
}
#previous-button{
    position: absolute;
    top: 10%;
    left: -80px;
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-top: 260px;
    margin-left: 250px;
    transform:translateY(-50%);
}
#next-button{
    position: absolute;
    top: 10%;
    right: -80px;
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-top: 260px;
    margin-right: 250px;
    transform:translateY(-50%);
}
#reveal-facts{
    margin-top: 50px;
}
footer{
    margin-top: 30px;
    color:#888;
    font-size: 0.9rem;
}
#button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}
#card-panel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#card{
    width: 320px;
    background: #1c1c1c;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
    text-align: center;
    color: #ccc;
    padding: 15px;
}
#card-image{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
#card-name{
    font-size: 22px;
    margin-bottom: 10px;
}
#card-facts{
    background: #2c2c2c;
    padding:10px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: left;
}
#chiral-rainbow{
    width:100%;
}